<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQhIbYm3FOW6_DZcHXWrHqkWHK3sf6shg</string>
	<key>GCM_SENDER_ID</key>
	<string>8795418359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.aqari</string>
	<key>PROJECT_ID</key>
	<string>aqari-nctu</string>
	<key>STORAGE_BUCKET</key>
	<string>aqari-nctu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8795418359:ios:0965fa3d0ff527a17b2df2</string>
</dict>
</plist>